.homepage {
    position: relative;
    min-height: 100vh;
    padding: 7rem 0 2rem 0;
    background-repeat: no-repeat;
    background-size: cover;

    .homepage__overlay-title{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 5rem;
        background-color: rgba(0, 0, 0, 0.336);
        text-transform: uppercase;
        font-size: 2rem;
        line-height: 5rem;
        text-align: center;
    }
    .home__card-model {
        position: relative;
        width: 15rem;
        height: 20rem;
    }
    .home__model-img {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
    .home__glass-img {
        position: absolute;
        top: 62px;
        width: 136px;
        left: 50%;
        transform: translateX(-50%);

        z-index: 1;
    }
    .home__glass-btn {
        width: 150px;
        height: 80px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-color: #fff;
        border: #000 solid 1px;
    }
}
